 * {

        margin: 0 auto;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

header {
    background: no-repeat url('common-wombat.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    padding-top: 10vh;

}

h1 {
    background-color: rgb(243 243 243 / 91%);
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;

}

h2 {

    padding: 2vh;
}

h3 {
    padding-bottom: 1vh;
    font-weight: normal;
}
section {
    padding: 3vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: left;
    margin: 0 20vw;
}

@media screen and (max-width: 1024px) {
    section {
        margin: 0 0;

    }
}

p {
    padding: 1vh;
    text-align: left;
    margin: 0 0;
}

img,
iframe {
    min-width: 25vw;
    max-width: 80vw;
    max-height: 70vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

iframe {
    min-height: 40vh;
}

a {
    color:rgb(116, 116, 236)
}

a:visited {

    color:rgb(110, 113, 116) 

}

.blue {
    background-color: rgba(187, 173, 156, 0.84);
    margin: 0 0;
    align-items: center;
}

.tour {
    padding: 2vh;
}

.portrait {
    border-radius: 50%;
}